* {
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    box-sizing: border-box;
    margin: 0px;
    line-height: 1.6;
}

b {
    font-weight: bolder;
}

body {
    width: 60vw;
    margin-bottom: 100px;
    margin-left: 20vw;
}



content {
    margin-top: 150px;
}

content > :not(p) {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

content * {
    opacity: 0;
}

content > img {
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
}

img {
    width: 80%;
    margin-left: 10%;
}

header > a {
    width: 30%;
    margin: 0px;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 3em;
    padding-top: 20px;
    text-align: center;
    
}

figcaption {
    font-size: 1.3em;
    font-style: italic;
    text-align: center;
    margin-top: -10px;
    opacity: 0.6;
}

h2 {
   font-size: 2em;
}

h3 {
   font-size: 1.5em;
}

p, ul, ol {
    font-size: 1.2em;
}


/* header */
header, footer {
    position: fixed;
    width: 100vw;
    height: 90px;
    z-index: 1;
    background-color: #a5d69c;
    margin-left: -20vw;
    box-shadow: 2px 10px 20px rgba(0,0,0,0.19), 2px 6px 6px rgba(0,0,0,0.23);
    padding: 10px;
}

header img  {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 70px;
    width: 200px;
}


#helperMan {
    /*Image from http://www.freepik.com/free-vector/coloured-pencil-design_901197.htm#term=crayon&page=4&position=10 */
    position: fixed;
    height: 200px;
    width: 200px;
    right: 10px;
    bottom: 10px;
    opacity: 0.5;
}

#spacing {
    height: 200px;
}
    
#leftArrow {
    position: fixed;
    height: 100px;
    width: 100px;
    left: -5vw;
    bottom: calc(50vh - 50px);
    opacity: 1;
    border-radius: 100px;
    }

#leftArrowMenu {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 1vh;
    left: 1vh;
    height: 50px;
    width: 50px;
    opacity: 0;
    border-radius: 100px;
    }

#leftArrowMenu p {
    left: 20px;
    top: 10px;
    width: 150px;
    
}

#rightArrow {
    position: fixed;
    height: 100px;
    width: 100px;
    right: 5vw;
    bottom: calc(50vh - 50px);
    opacity: 0;
    border-radius: 100px;
    }


#mewrap {
    position: absolute;
    width: 60%;
    top: 400px;
    opacity: 0;
    margin-right: 20%;
    left:50%;
    transform: translateX(-50%);
}

#meImg {
    margin: 0;
    position: absolute;
    height: auto;
    width: 300px;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
}